body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  #plan {
  background-color: #4CAF50;
  border: 1px solid transparent;
  border-radius: 19px;
  
}
  
  .spacer {
    display: flex ;
 
    border-radius: 19px;
    margin-top: 10px;
   
  }

  /*Colunmans apartado de arriba */
  .columns {
    border: 3px solid transparent;
    border-radius: 19px;
    background-color: white;
    text-align: center;
    transition: 0.3s ease;
  }
  
  /*Apartado de arriba Desbloqueables*/
.DS {
  margin: 20px;
  width: 70%;
}

.GN {
  margin: 20px;
  width: 30%;
}

.gnExtended {
  width: 150%;
  transition: 0.3s ease;
}


 h1 {
  margin: 5px;
 }

.classs {
margin: 25px;
border-radius: 19px;
background-color:#c1c2c2 ;
padding: 6px;
border: 3px solid grey;

}



.extended {
border-radius: 19px;
padding: 10px;
padding-bottom: 88px;
transition: 0.3s ease;
}

/*barras abiertas*/
.notVisible {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: white;
  margin: 8px;
  
}

/*Dentro de las barras*/
.requisitos {
  display: flex;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 19px;

}

p {
  text-align: center;
}
.requisitosText {
  width: 40%;
}
.ninguno {
  width: 30%;
  background-color: greenyellow;
  border: 1px solid transparent;
  border-radius: 19px;
}

.aprovada {
  width: 20%;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.clases {
display: flex;

}

.claseDS {
  width: 70%;
  background-color: white;
  border-radius: 19px;
 
}

.clasesGN {
  width: 30%;
  background-color: white;

  border-radius: 19px;
}

.clasesGNExtended{
  width: 150%;
  transition: 0.3s ease;
}

.clasesColumns {
  margin: 20px;
  transition: 0.3s ease;
  
}

.headerDS {
  display: flex;
  margin-top: 15px;

  
}

.title {
  width: 80%;
  text-align: center;
  padding-top: 14px;
  background-color: white;
  border-radius: 19px;
  font-size: medium;
}
.available {
  background-color:red;
  border: 1px solid transparent;
  border-radius: 19px;
  margin: 4px;
  width: 20%;
  text-align: center;
}

.checkbox {
  padding: 100px;
  height: 50px;
  size: 100px;
}





